/* Button S */
.btn {
    position: relative;
    font-family: $ff-primary;
    font-size: $fs-base;
    font-weight: $fw-sb;
    line-height: 112%;
    padding: 16px 27px;
    border: none;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    z-index: 1;
    border-radius: 100px;
    text-align: center;
    overflow: hidden;
    @include css3-prefix(transition, 0.5s ease-in-out);
    &:visited{
        background: inherit;
    }
    .icon {
        display: inline-block;
        margin-top: -2px;
    }

    @include media-breakpoint-down(xl) {
        padding: 12px 22px;
        font-size: $fs-md;
    }

    &:hover,
    &:focus,
    &:active {
        box-shadow: none !important;
    }

    &.btn-primary,
    &.btn-secondary {
        color: $white;

        &:not(:hover):visited {
            color: $white;
        }

        @include media-breakpoint-up(xl) {

            &:hover,
            &:focus,
    
            &:active {
                color: $white;
            }
        }
    }

    &.btn-primary {
        background-color: $secondary;

        @include media-breakpoint-up(xl) {

            &:hover,
            &:focus,
    
            &:active {
                color: $white;
                background-color: $primary;
            }
        }
    }

    &.btn-secondary {
        background-color: $primary;

        @include media-breakpoint-up(xl) {

            &:hover,
            &:focus,
    
            &:active {
                color: $white;
                background-color: $secondary;
            }
        }
    }

    &.btn-white {
        background-color: $white;

        @include media-breakpoint-up(xl) {

            &:hover,
            &:focus,
    
            &:active {
                color: $body;
                background: $primary;
            }
        }
    }

}

/* Button E */