//  Font family Variables
$ff-primary: "Poppins", sans-serif;

// Font Family use class   
.ff-primary{font-family: $ff-primary;}

// basic font size variable
$fs-base: 18px;
$fs-md: 16px;
$fs-lg: 20px;

// basic font size class
.fs-12{font-size: 12px !important;}
.fs-13{font-size: 13px !important;}
.fs-14{font-size: 14px !important;}
.fs-15{font-size: 15px !important;}
.fs-16{font-size: 16px !important;}
.fs-18{font-size: 18px !important;}
.fs-20{font-size: 20px !important;}

// heading font size variable
$fs-h1:62px;
$fs-h2:58px;
$fs-h3:45px;
$fs-h4:38px;
$fs-h5:28px;
$fs-h6:20px;

// basic lineheight variable
$lh-base: 167%;

// Font Weight variable
$fw-l: 300;
$fw-r: 400;
$fw-m: 500;
$fw-sb: 600;
$fw-b: 700;

// Font Weight class
.fw-semibold { font-weight: $fw-sb; }
.fw-medium { font-weight: $fw-m; }


